.canon__holder {
  padding: 50px 20px 30px;
}

.canon__title {
  font-size: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 35px;
}

.canon__paragraph {
  font-family: $main-font;
  color: $color-graphtext;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.canon__number {
  font-size: 20px;
  font-weight: $bold-font;
}
