.header {
  background-color: $color-greenblue;
  padding: 20px;
  width: 100vw;
  max-width: 100%;
}

.header.opacity {
  opacity: 0.5;
}

// .logo {
//   z-index: 11;
//   display: inline-block;
//   position: relative;
// }