.page-404__holder {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.page-404__title {
  font-family: $main-font;
  font-size: 60px;
  color: $color-graphtext;
  margin: 0;
}

.page-404__content {
  color: $color-graphtext;
  font-size: 18px;
  font-family: $main-font;
}
