<div class="c-actions" data-bottom-btn >
  <div class="c-actions__content" data-actions>
    <button type="button" class="c-actions__button icon-filter" data-show-modal></button>
    <button type="button" class="c-actions__button icon-bucket" data-themes-button></button>
    <button type="button" class="c-actions__button" data-font-decrease>A<sup>-</sup></button>
    <button type="button" class="c-actions__button" data-font-increase>A<sup>+</sup></button>
    <button type="button" class="c-actions__button icon-gear" data-show-actions></button>
  </div>
</div>
<div class="c-actions__themes" data-themes>
  <ol class="c-actions__themes-list">
    <li class="c-actions__themes-item" data-themes-color="0">
      <span class="c-actions__themes-color c-actions__themes-color--1"></span>
    </li>
    <li class="c-actions__themes-item" data-themes-color="1">
      <span class="c-actions__themes-color c-actions__themes-color--2"></span>
    </li>
    <li class="c-actions__themes-item" data-themes-color="2">
      <span class="c-actions__themes-color c-actions__themes-color--3"></span>
    </li>
    <li class="c-actions__themes-item" data-themes-color="3">
      <span class="c-actions__themes-color c-actions__themes-color--4"></span>
    </li>
  </ol>
</div>