<header class="header">
  <button data-menu-button class="menu-button">menu</button>
  <a class="logo" href="">
    <h1 class="title title--main">Vida Cristã</h1>
  </a>
  <form method="get" action="/busca" data-request>
    <input required="true" data-input type="text" class="test2" name="s" id="searchInput">
    <button data-input-button>Enviar</button>
  </form>
</header>
<a id="link" href="/catecismo/4">catecismo</a>

