<header class="s-header">
  <div class="s-header__holder content">
    <button class="s-header__menu-button">Menu</button>
    <a class="s-header__link" href="/">
      <h2 class="s-header__logo">Vida Cristã</h2>
    </a>
    <div class="s-header__actions">
      <form class="s-header__search-form" method="get" action="/busca" data-search>
        <input class="s-header__search-input" required="true" data-search-input type="text" class="test2" name="s" id="searchInput">
        <button type="submit" class="s-header__submit-button" value="" data-search-subimit>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
            <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>
        </button>
      </form>
      <button class="s-header__actions-button" data-font-increase>A<sup>+</sup></button>
      <button class="s-header__actions-button" data-font-decrease>A<sup>-</sup></button>
      <button class="s-header__actions-button" data-themes-button>
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="left: 10px;"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M16.56 8.94L7.62 0 6.21 1.41l2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zM5.21 10L10 5.21 14.79 10H5.21zM19 11.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z"></path><path fill-opacity=".36" d="M0 20h24v4H0v-4z"></path></svg> 
      </button>
      <div class="s-header__themes" data-themes>
        <ol class="s-header__themes-list">
          <li class="s-header__themes-item" data-themes-color="0">
            <span class="s-header__themes-color s-header__themes-color--1"></span>
          </li>
          <li class="s-header__themes-item" data-themes-color="1">
            <span class="s-header__themes-color s-header__themes-color--2"></span>
          </li>
          <li class="s-header__themes-item" data-themes-color="2">
            <span class="s-header__themes-color s-header__themes-color--3"></span>
          </li>
          <li class="s-header__themes-item" data-themes-color="3">
            <span class="s-header__themes-color s-header__themes-color--4"></span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</header>
