<header class="c-header">
  <div class="c-header__holder">
    <button class="c-header__menu-button">Menu</button>
    <a class="c-header__link" href="/">
      <h2 class="c-header__logo">Vida Cristã</h2>
    </a>
    <form class="c-search__form" method="get" action="/busca" data-search>
      <input class="c-search__input" required="true" data-search-input type="text" class="test2" name="s" id="searchInput">
      <input type="submit" class="c-search__submit-button" value="Procurar" data-search-subimit>
    </form>
  </div>
</header>
