<nav class="c-menu" data-menu>
  <ul class="c-menu__list">
    <li class="c-menu__list-item">
      <a class="c-menu__list-link" href="/">Home</a>
    </li>
    <li class="c-menu__list-item">
      <a class="c-menu__list-link" href="/catecismo">Catecismo</a>
    </li>
    <li class="c-menu__list-item">
      <a class="c-menu__list-link" href="/doutrina_social">Doutrina Social</a>      
    </li>
    <li class="c-menu__list-item">
      <a class="c-menu__list-link" href="/canodo">Código de Direito Canônico</a>
    </li>
    <li class="c-menu__list-item">
      <a class="c-menu__list-link" href="/enciclicas">Enciclicas</a>
    </li>
    <li class="c-menu__list-item">
      <a class="c-menu__list-link" href="/biblia">Bíblia</a>
      <ul class="c-submenu__list">
        <li class="c-submenu__list-item">
          <a href="/biblia/lucas" class="c-submenu__list-link">lucas</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/biblia/genesis" class="c-submenu__list-link">Genesis</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 1</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 2</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 3</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 4</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 5</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 6</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 7</a>
        </li>
        <li class="c-submenu__list-item">
          <a href="/" class="c-submenu__list-link">livro 8</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>