* {
  box-sizing: border-box;
}

html {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font-size: 16px;
}

.increased-font {
  font-size: 18px;
}

.increased-font-2 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

ul, ol {
  padding-left: 0;
}

$site-content: 1170px;

.content {
  max-width: $site-content;
  margin-left: auto;
  margin-right: auto;
}

@include respond-to(mobile-tablet){
  .content {
    width: 700px;
  }
}

@include respond-to(mobile) {
  .content {
    width: 100%;
    max-width: 100%;
  }
}