$c-white: #ffffff;
$c-black: #000000;
$c-transparent: transparent;

$c-red: #ff0000;
$c-green: #00ff00;
$c-blue: #0000ff;
$c-yellow: #fff000;

$c-gray: #212121;
$c-gray-light: #484848;
$c-gray-text: #424242;

$c-brown: #4e342e;
$c-brown-light: #7b5e57;
$c-brown-dark: #260e04;

$colors: (
  c-white: $c-white,
  c-black: $c-black,
  c-transparent: $c-transparent,
  c-brown: $c-brown,
  c-brown-light: $c-brown-light,
  c-brown-dark: $c-brown-dark,
  c-gray: $c-gray,
  c-gray-light: $c-gray-light,
  c-gray-text: $c-gray-text,
);

$theme-01: (
  c-white: $c-black,
  c-black: $c-white,
);

$theme-02: (
  c-white: $c-red,
  c-black: $c-white,
);

$theme-03: (
  c-white: $c-green,
  c-black: $c-white,
);
