.s-footer {
  @include color-theme(background-color, c-brown-dark);
  width: 100vw;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  align-items: center;
}

.s-footer__link {
  @include color-theme(color, c-white);
  font-size: rem(20);
  display: inline-block;
  transition: all 0.2 ease-in-out;

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}