.s-header {
  width: 100vw;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 100%;
  @include color-theme(background-color, c-brown-dark);
}

.s-header__link {
  display: inline-block;
  line-height: 1;
}

.s-header__logo {
  @include color-theme(color, c-white);
  font-size: 26px;
  font-family: $main-font;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  letter-spacing: 1px;

  &:hover {
    opacity: 0.8;
    transition: all 0.2s ease;
  }
}

.s-header__actions {
  float: right;
  position: relative;
  @include clearfix();
}

.s-header__search-form {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.s-header__search-input {
  height: 26px;
  width: 300px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  font-size: 16px;
  position: relative;
  vertical-align: top;
  font-family: $main-font;
}

.s-header__search-close {
  @include color-theme(background-color, c-transparent);

  display: inline-block;
  height: 100%;
  transition: all 0.2s ease-in-out;
  border: none;
  font-family: $main-font;
  font-size: 20px;
  position: absolute;
  right: 42px;
  cursor: pointer;

  &.hide {
    display: none;
  }
}

.s-header__submit-button {
  position: relative;
  background-color: $c-transparent;
  color: $c-transparent;
  font-size: 0;
  border-radius: 2px;
  border: none;
  vertical-align: top;
  
  &::before {
    @include color-theme(color, c-white);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

.s-header__actions-buttons {
  float: right;
  display: block;
  line-height: 1;
  font-size: 0;
  height: 30px;
}

.s-header__actions-button {
  @include color-theme(color, c-white);
  background-color: $c-transparent;
  border: none;
  vertical-align: middle;
  font-size: 22px;
  font-family: $main-font;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;

  &::before {
    @include color-theme(color, c-white);
  }

  &:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

.s-header__menu-button {
  display: none;
}

@include respond-to(mobile-tablet) {
  .s-header__menu-button {
    display: inline-block;
    border: none;
    height: 25px;
    width: 25px;
    background-color: $c-transparent;
    margin-right: 20px;
    padding: 0;
    z-index: $menu-button;
    position: relative;
    left: 0;
    cursor: pointer;
  
    &.active {
      position: absolute;
      left: 20px;

      .s-header__menu-button-content {
        background-color: $c-transparent;
  
        &::before {
          transition: all 0.2s ease-in-out;
          transform: rotate(45deg);
          top: 0;
        }
  
        &::after {
          transition: all 0.2s ease-in-out;
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
  }
  
  .s-header__menu-button-content {
    @include color-theme(background-color, c-white);
    color: $c-transparent;
    width: 25px;
    height: 3px;
    position: absolute;
    display: inline-block;
    font-size: 0;
    left: 0;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
  
    &::before {
      content: '';
      @include color-theme(background-color, c-white);
      width: 25px;
      height: 3px;
      position: absolute;
      top: -8px;
      left: 0;
      border-radius: 3px;
      transition: all 0.2s ease-in-out;
    }
  
    &::after {
      content: '';
      @include color-theme(background-color, c-white);
      width: 25px;
      height: 3px;
      position: absolute;
      bottom: -8px;
      left: 0;
      border-radius: 3px;
      transition: all 0.2s ease-in-out;
    }
  }
}

@include respond-to(mobile) {
  .s-header {
    padding: 15px 20px;
  }

  .s-header__holder {
    overflow: hidden;

    &.show {
      overflow: visible;
    }
  }

  .s-header__search-form {
    margin-right: 0;
  }

  .s-header__submit-button {
    padding: 0;
  }

  .s-header__search-input {
    font-size: 24px;
    position: absolute;
    transform: translateX(-100%);
    right: -20px;
    width: 100vw;
    height: 92px;
    top: 43px;
    transition: all 0.3s ease;
    transform-origin: top;
    z-index: 1;
    padding-left: 20px;
    @include color-theme(background-color, c-brown);
    @include color-theme(color, c-white);
    
    &::placeholder {
      @include color-theme(color, c-white);
    }

    &.active {
      transform: translateX(0);
    }
  }

  .s-header__search-close {
    transform: translateY(100%);
    right: -10px;
    height: 50px;
    width: 50px;
    top: 65px;
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: 30px;
    z-index: 2;
    @include color-theme(color, c-white);
    
    &.active {
      transform: translateX(0);
    }

    &.hide {
      display: inline-block;
    }
  }

  .s-header__actions-buttons {
    display: none;
  }
}