.s-header {
  width: 100vw;
  padding: 20px 50px;
  background-color: $c-brown;
  box-shadow: 1px 0 15px -5px;
  max-width: 100%;
}

.s-header__link {
  display: inline-block;
  line-height: 1;
}

.s-header__logo {
  
  @include color-theme(color, c-white);
  font-size: rem(32);
  font-family: $title-font;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;

  &:hover {
    opacity: 0.8;
    transition: all 0.2s ease;
  }
}

.s-header__menu-button {
  display: none;
}

.s-header__actions {
  float: right;
  position: relative;
  @include clearfix();
}

.s-header__search-form {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.s-header__search-input {
  height: rem(30);
  width: 300px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  font-size: rem(16);
  position: relative;
  vertical-align: top;
  font-family: $main-font;
}

.s-header__search-close {
  @include color-theme(background-color, c-transparent);
  @include color-theme(color, c-black);

  display: inline-block;
  height: 100%;
  transition: all 0.2s ease-in-out;
  border: none;
  font-family: $main-font;
  font-size: rem(20);
  position: absolute;
  right: rem(42);
  cursor: pointer;

  &.hide {
    display: none;
  }
}

.s-header__submit-button {
  position: relative;
  background-color: $c-transparent;
  border-radius: 2px;
  border: none;
  vertical-align: top;
  
  svg {
    fill: $c-white;
    height: rem(24);
    width: rem(24);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

.s-header__actions-button {
  background-color: $c-transparent;
  border: none;
  float: right; 
  color: $c-white;
  font-size: rem(22);
  font-family: $main-font;
  margin-left: 5px;
  margin-right: 5px;

  svg {
    fill: $c-white;
    height: rem(24);
    width: rem(24);
  }

  &:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

.s-header__themes {
  position: absolute;
  top: 35px;
  font-size: 0;
  right: 70px;
  background-color: $c-white;
  border-radius: 5px;
  box-shadow: 1px 0 15px -10px;
  animation: themes-div-out 0.2s ease-in-out forwards;
  transform: scale(0);

  &.active {
    animation: themes-div 0.2s ease-in-out forwards;
  }
}

@keyframes themes-div {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(0.25);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes themes-div-out {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.25);
  }

  100% {
    transform: scale(0);
  }
}

.s-header__themes-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70px;
  height: 70px;
  list-style: none;
}

.s-header__themes-item {
  position: relative;
  text-align: center;
  font-size: 0;
  flex: 1;
  cursor: pointer;
}

.s-header__themes-item.active {
  &::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $c-white;
  }
}

.s-header__themes-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}


@include respond-to(mobile) {
  .s-header {
    padding: 15px;
  }

  .s-header__holder {
    overflow: hidden;

    &.show {
      overflow: visible;
    }
  }
  
  .s-header__menu-button {
    display: inline-block;
  }

  .s-header__search-form {
    margin-right: 0;
  }

  .s-header__search-input {
    position: absolute;
    transform: translateX(100%);
    right: -15px;
    width: 100vw;
    height: 50px;
    top: 50px;
    transition: all 0.2s ease-in-out;

    &.active {
      transform: translateX(0);
    }
  }

  .s-header__search-close {
    transform: translateX(100%);
    right: -10px;
    height: 50px;
    width: 50px;
    top: 50px;
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: rem(24);
    
    &.active {
      transform: translateX(0);
    }

    &.hide {
      display: inline-block;
    }
  }

  .s-header__actions-button {
    display: none;
  }
}