{% extends "layouts/app.html" %}

{% block content %}

{% set data_page = 'bible' %}
{% include "partials/webdoor.html" %}

<main class="s-bible">
  <div class="s-bible__holder content">
    <div class="s-bible__content">
      <h2 class="s-bible__title">Antigo Testamento</h2>
      <ul class="s-bible__links">
      
      {% for item in data %}
        {% if item.testament == "antigo" %}
          <li class="s-bible__item">
            <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
          </li>
          <!-- test -->
          <li class="s-bible__item">
            <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
          </li>
          <li class="s-bible__item">
            <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
          </li>
          <li class="s-bible__item">
            <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="s-bible__content">
      <h2 class="s-bible__title">Novo Testamento</h2>
      <ul class="s-bible__links">
        {% for item in data %}
          {% if item.testament == "novo" %}
            <li class="s-bible__item">
              <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
            </li>
            
            <!-- test -->
            <li class="s-bible__item">
              <a href="/biblia/{{ item.url_text }}" class="s-bible__link">Tessalonissences 2 test</a>
            </li>
            <li class="s-bible__item">
              <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
            </li>
            <li class="s-bible__item">
              <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
            </li>
            <li class="s-bible__item">
              <a href="/biblia/{{ item.url_text }}" class="s-bible__link">{{ item.book_name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

<!-- <pre>
  {{ dump() }}
</pre> -->
{% endblock %}