<main class="canon">
	 <form action="filtro/can">
	<label for="test">Texto a ser procurado</label>
	<input type="text" name="t" id="test">
	
	<input type="submit" value="enviar">
</form>
  <div class="canon__holder content">
  <h1 class="title canon__title">Código de Direito Canônico</h1>
  </div>
</main>
