{% extends "layouts/app.html" %}

{% block content %}

{% set data_page = 'catechism' %}
{% include "partials/webdoor.html" %}
<main class="c-document s-catechism">
	<div class="c-document__holder">
		{% for item in data %}
			{% if (item.paragraph_partial != '') or (item.paragraph_section != '') or (item.paragraph_chapter != '') or (item.paragraph_article != '') or (item.paragraph_title != '') %}
				<header class="c-document__header">
					{% if item.paragraph_partial != '' %}
						<h2 class="o-title o-title--2">{{ item.paragraph_partial }}</h2>
					{% endif %}
					{% if item.paragraph_section != '' %}
						<h3 class="o-title o-title--3">{{ item.paragraph_section }}</h3>
					{% endif %}
					{% if item.paragraph_chapter != '' %}
						<h4 class="o-title o-title--4">{{ item.paragraph_chapter }}</h4>
					{% endif %}
					{% if item.paragraph_article != '' %}
						<h5 class="o-title o-title--5">{{ item.paragraph_article }}</h5>
					{% endif %}
					{% if item.paragraph_title != '' %}
						<h6 class="o-title o-title--6">{{ item.paragraph_title }}</h6>
					{% endif %}
				</header>
			{% endif %}
			<p id="{{ item.paragraph_number }}" class="c-document__paragraph">
				<span class="c-document__paragraph-number">
					{{ item.paragraph_number }}
				</span>
				{{ item.paragraph_text }}
			</p>
		{% endfor %}
	</div>
	<div class="c-document__paginate" data-paginate>
		{% if paginate != 1 %}
			<a href="/catecismo/{{ paginate - 1 }}" class="c-document__paginate-link c-document__paginate-link--fisrt">➜</a>
		{% endif %}
		<!-- provisory, correct is 144 -->
		{% if paginate < 3 %}
			<a href="/catecismo/{{ paginate + 1 }}" class="c-document__paginate-link">➜</a>
		{% endif %}
	</div>
	{% include "partials/references.html" %}
</main>

<aside class="c-filter">
	<div class="c-filter__form-holder">
		<form action="/filtro/catecismo" class="c-filter__form">
			<label for="catechismText" class="c-filter__form-label">Procure no Catecismo</label>
			<input type="text" class="c-filter__form-input" placeholder="Ex: igreja, fé" name="t" id="catechismText">
			<input type="submit" class="c-filter__form-submit" value="ok">
		</form>
	</div>
	<div class="c-filter__form-holder">
		<form action="/filtro/catecismo" class="c-filter__form">
			<label class="c-filter__form-label" for="catechismNumber">Encontre por número</label>
			<input type="number" class="c-filter__form-input c-filter__form-input--num" step="0" min="1" max="2865" name="n" id="catechismNumber">
			<input type="submit" class="c-filter__form-submit" value="ok">
		</form>
	</div>
</aside>
<!-- {% include "partials/socials.html" %} -->
{% endblock %}
