{% extends "layouts/app.html" %}

{% block content %}
{% set data_page = 'encyclical' %}
{% include "partials/webdoor.html" %}

<main class="s-enciclical">
  <div class="s-enciclical__holder content">
    {% set counter = 0 %}
    {% set pontiff = false %}
    
    {% for item in data %}
      {% if counter == 0 %}
        <div class="s-enciclical__content">
          <strong class="s-enciclical__author">{{ item.pontiff }}</strong>
          <ul class="s-enciclical__list">
      {% endif %}

      {% if pontiff == item.pontiff || counter == 0 %}
        <li class="s-enciclical__item">
          <a href="/enciclicas/{{ item.url_text }}" class="s-enciclical__link">{{ item.encyclical_name }}</a>
        </li>
      {% endif %}
      
      
      {% set pontiff = item.pontiff %}
    {% endfor %}
  </div>
</main>

{# <pre>
{{ dump() }}
</pre> #}
{% endblock content %}