<div>
   <h1>Encíclica<h1>
</div>

 <form action="/filtro/enc">
	<label for="test">Texto a ser procurado</label>
	<input type="text" name="t" id="test">
	
	<input type="submit" value="enviar">
</form>