{% extends "layouts/app.html" %}

{% block content %}

<main class="c-document c-document">
	<h1 class="c-document__main-title o-title">{{ title }}</h1>
	<div class="c-document__holder">
		{% for item in data %}
			{% if (item.paragraph_partial != '') or (item.paragraph_section != '') or (item.paragraph_chapter != '') or (item.paragraph_title != '') %}
				<header class="c-document__header">
					{% if item.paragraph_partial != '' %}
						<h2 class="o-title o-title--2">{{ item.paragraph_partial }}</h2>
					{% endif %}
					{% if item.paragraph_chapter != '' %}
						<h3 class="o-title o-title--3">{{ item.paragraph_chapter }}</h3>
					{% endif %}
					{% if item.paragraph_section != '' %}
						<h4 class="o-title o-title--4">{{ item.paragraph_section }}</h4>
					{% endif %}
					{% if item.paragraph_title != '' %}
						<h5 class="o-title o-title--5">{{ item.paragraph_title }}</h5>
					{% endif %}
				</header>
			{% endif %}
			<p id="{{ item.paragraph_number }}" class="c-document__paragraph">
				<span class="c-document__paragraph-number">
					{{ item.paragraph_number }}
				</span>
				{{ item.paragraph_text }}
			</p>
		{% endfor %}
	</div>
	{% include "partials/references.html" %}
</main>

<aside class="c-document__lateral">
	<div class="c-document__form-holder">
		<form action="/filtro/doutrina_social" class="c-document__form">
			<label for="social-doctrineText" class="c-document__form-label">Procure na Doutrina Social</label>
			<input type="text" class="c-document__form-input" placeholder="Ex: igreja, fé" name="t" id="social-doctrineText">
			<input type="submit" class="c-document__form-submit" value="ok">
		</form>
	</div>
	<div class="c-document__form-holder">
		<form action="/filtro/doutrina_social" class="c-document__form">
			<label class="c-document__form-label" for="social-doctrineNumber">Encontre por número</label>
			<input type="number" class="c-document__form-input c-document__form-input--num" step="0" min="1" max="578" name="n" id="social-doctrineNumber">
			<input type="submit" class="c-document__form-submit" value="ok">
		</form>
	</div>
</aside>
{% include "partials/socials.html" %}

{% endblock %}