.c-document {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: calc((100vw - 1170px) / 2);
  position: relative;
  display: block;
  max-width: 55vw;
}

.c-document__main-title {
  text-align: left;
}

.c-document__paragraph {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: rem(18);
  @include color-theme(color, c-gray-text);
  line-height: 1.2;
}

.c-document__paragraph-number {
  font-weight: $bold-font;
  font-size: rem(16);
  @include color-theme(color, c-gray-text);
}

.c-document__lateral {
  position: absolute;
  right: calc((100vw - 1170px) / 2);
  top: 164px;
  width: 380px;
  @include color-theme(background-color, c-brown-dark);
  border-radius: 10px;
  text-align: center;
  padding: 35px 15px;
}

.c-document__form-holder {
  display: block;
  padding: 15px;
}

.c-document__form-label {
  text-align: center;
  @include color-theme(color, c-white);
  padding-bottom: 20px;
  font-size: rem(20);
  font-family: $main-font;
  display: block;
}

.c-document__form-input {
  font-size: rem(18);
  @include color-theme(color, c-gray-text);
  height: rem(30);
  padding-left: 10px;
  width: 80%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  border: none;

  &--num {
    width: 40%;
    padding-left: 0;
    text-align: center;
  }
}

.c-document__form-submit {
  @include color-theme(background-color, c-brown-dark);
  @include color-theme(color, c-white);
  @include color-theme(border-color, c-white);
  display: inline-block;
  height: rem(30);
  width: rem(30);
  vertical-align: bottom;
  border-width: 1px;
  border-style: solid; 
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: $bold-font;
  text-align: center;
  padding: 0;
  text-transform: uppercase;

  &:hover {
    @include color-theme(background-color, c-white);
    @include color-theme(color, c-brown-dark);
  }
}

@include respond-to(mobile-tablet) {
  .c-document__lateral {
    display: none;
  }
}

@include respond-to(mobile-tablet) {
  .c-document {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-top: 30px;
  }
}