.c-day-verser {
	padding-top: 50px;
	padding-bottom: 30px;
	display: block;
}

.c-day-verser__title {
	@include color-theme(color, c-brown-dark);
	margin-bottom: 20px;
	margin-top: 0;
	text-align: left;
}

.c-day-verser__passage {
	font-size: rem(16);
	@include color-theme(color, c-brown);
}

.c-day-verser__desc {
	@include color-theme(color, c-gray-text);
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: rem(16);
}

@include respond-to(mobile-tablet) {
	.c-day-verser {
		padding: 20px;
	}

	.c-day-verser__title {
		font-size: 40px;
	}
}