.c-document {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: calc((100vw - 1170px) / 2);
  position: relative;
  display: block;
  max-width: 750px;
}

.c-document--fix {
  min-height: 450px;
}

.c-document__paragraph {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: rem(18);
  @include color-theme(color, c-gray-text);
  line-height: 1.2;
}

.c-document__paragraph-number {
  font-weight: $bold-font;
  font-size: rem(16);
  @include color-theme(color, c-gray-text);
}

.c-document__highlight {
  display: block;
  margin-bottom: 20px;
  font-size: rem(12);
  @include color-theme(color, c-gray-text);
}

.c-document__paginate {
  position: relative;
  margin: 50px auto;
  width: 120px;
  text-align: center;
  z-index: $arrows;
}

.c-document__paginate-link {
  text-decoration: none;
  @include color-theme(color, c-white);
  @include color-theme(background-color, c-brown-dark);
  font-size: rem(20);
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  z-index: $arrows;

  &:hover {
    opacity: 0.9;
  }
}

.c-document__paginate-link--fisrt {
  transform: rotate(-180deg);
}

@include respond-to(mobile-tablet) {
  .c-document {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-top: 30px;
  }
}

@include respond-to(mobile) {
  .c-document {
    padding-bottom: 50px;
  }

  .c-document__paginate {
    position: fixed;
    bottom: 25px;
    left: 12px;
    margin: 0;
    width: auto;
    font-size: 0;
    transition: all 0.2s ease-in-out;

    &.bottom {
      transform: translateY(-70px);
    }
  }

  .c-document__paginate-link {
    font-size: 36px;
    height: 55px;
    width: 55px;
    vertical-align: middle;
    line-height: 1;
  }
}