.c-filter {
  position: absolute;
  right: calc((100vw - 1170px) / 2);
  top: 22vh;
  width: 380px;
  @include color-theme(background-color, c-brown-dark);
  border-radius: 5px;
  text-align: center;
  padding: 35px 15px;
}

.c-filter__form-holder {
  display: block;
  padding: 15px;
}

.c-filter__form-label {
  text-align: center;
  @include color-theme(color, c-white);
  padding-bottom: 20px;
  font-size: rem(20);
  font-family: $main-font;
  display: block;
}

.c-filter__form-label--bottom {
  padding-bottom: 10px;
}

.c-filter__form-input {
  font-size: rem(18);
  height: rem(30);
  padding-left: 10px;
  width: 85%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  border: none;

  &--num {
    width: 40%;
    padding-left: 0;
    text-align: center;
  }
}

.c-filter__form-submit {
  @include color-theme(background-color, c-brown-dark);
  @include color-theme(color, c-white);
  @include color-theme(border-color, c-white);
  display: inline-block;
  height: rem(30);
  width: rem(30);
  vertical-align: bottom;
  border-width: 2px;
  border-style: solid; 
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: $bold-font;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  text-indent: -3px;

  &:hover {
    @include color-theme(background-color, c-white);
    @include color-theme(color, c-brown-dark);
  }
}

.c-filter__form-submit--large {
  width: auto;
  padding-left: 7px;
  padding-right: 5px;
}

.c-filter__input-holder {
  text-align: left;
  padding: 10px;
}

.c-filter__form-radio {
  height: 1px;
  width: 1px;
  color: $c-transparent;
  position: relative;
  opacity: 0;
  visibility: hidden;
  font-size: 0;

  &:checked ~ .c-filter__form-text::before {
    content: 'X';
  }
}

.c-filter__form-text {
  @include color-theme(color, c-white);
  cursor: pointer;
  font-size: 16px;

  &::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid;
    @include color-theme(border-color, c-white);
    font-size: 15px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    margin-right: 15px;
    padding: 2px;
    letter-spacing: 1px;
  }
}

.c-filter__select-label {
  display: block;
  @include color-theme(color, c-white);
  font-size: 16px;
  padding-bottom: 10px;
}

.c-filter__select {
  @include color-theme(color, c-gray-text, c-gray-text);
  height: 30px;
  border-radius: 5px;
  min-width: 150px;
}

.c-filter-close {
  display: none;
}

@include respond-to(mobile-tablet) {
  .c-filter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 85%;
    max-width: 450px;
    max-height: 95vh;
    padding: 30px 20px 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    
    &.active {
      z-index: $modal;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  .c-filter__form-label {
    padding-bottom: 7px;
  }


  .c-filter__form-holder {
    padding: 0 0 30px;
  }

  .c-filter__input-holder {
    padding: 8px 0;
  }

  .c-filter__select {
    display: block;
    width: 100%
  }

  .c-filter__form-input {
    display: block;
    width: 100%;
  }

  .c-filter__form-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    min-width: 150px;
    height: 30px;
  }

  .c-filter-close {
    display: block;
    @include color-theme(color, c-brown-dark);
    @include color-theme(background-color, c-white);
    text-align: center;
    font-size: 20px;
    font-weight: $bold-font;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
    height: 40px;
    width: 40px;
  }
}