$c-white: #ffffff;
$c-black: #000000;
$c-transparent: transparent;

$c-red: #ff0000;
$c-green: #00ff00;
$c-blue: #0000ff;
$c-yellow: #fff000;

$c-gray: #212121;
$c-gray-light: #484848;
$c-gray-text: #424242;

$c-brown: #4e342e;
$c-brown-light: #7b5e57;
$c-brown-dark: #260e04;
