* {
  box-sizing: border-box;
}

html {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
}