@font-face {
  font-family: "Roboto";
  src:
    url('https://fonts.googleapis.com/css?family=Roboto');

  font-weight: 400;
  font-style: normal;
}

$main-font: 'Roboto', sans-serif;
$bold-font: 600;
$regular-font: 500;

