<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta author="Gustavo da Silva Gomes">
  <meta keywords="Bíblia, Catecismo, Encíclica">
  <title>Vida Cristã</title>
</head>
<body>
    {% include "partials/header.twig" %}
    {% include "partials/menu.twig" %}
    {% block content %}{% endblock %}
</body>